.hero{
    margin-top: 77px;
    display: flex;
    align-items: center;
    gap: 65px;

}
.alert-div{
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 2px;
}

.hero-description{
    margin: 61px 0px;
}
h1{
    margin-bottom: 20px;
}
p{
    margin-bottom: 30px;
}

.hero-img{
    max-width: 548px;
    max-height: 536px;
}

.hero-btn{
    padding: 12px 32px;
    border-radius: 24px;
    background-color: #44B564;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}