.main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.virus-image{
    position: absolute;
    left:0px;
    top:280px
}
.virus-right-absolute{
    position: absolute;
    right: 0px;
    top: 1015px;
}
.container{
    width: 100%;
    max-width: 1168px;
}