.main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.virus-image{
    position: absolute;
    left:0px;
    top:280px
}
.virus-right-absolute{
    position: absolute;
    right: 0px;
    top: 1015px;
}

.symptoms-left{
    position: absolute;
    left: 0px;
    top: 2785px;
}

.symptoms-right{
    position: absolute;
    right: 0px;
    top: 2993px;
}

.footer-img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    max-height: 1500px;
}
.container{
    width: 100%;
    max-width: 1168px;
    z-index: 2;
}

@media (max-width: 768px) {
    .container{
        padding: 0 16px;
    }
}